.userInfoDiv {
  max-width: 1000px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 15px;
  align-items: flex-start;
}

.userWrap {
  padding: 20px;
  border: 1px solid rgb(221, 221, 221);
}

.rightSection {
  flex: 1;
  margin-left: 5%;
}

.rightSection > h3,
.rightSection h6 {
  color: rgb(107, 107, 107);
}

.userName {
  margin-bottom: 15px;
}

.userAction {
  text-align: center;
}

.userAction a,
.userAction span {
  color: teal;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.userAction a:hover {
  text-decoration: none;
  color: teal;
}

.userAction a:first-child {
  font-weight: bold;
}

.review .imgTextWrap p {
  font-weight: 600;
  font-size: 14px;
}

.iconWrap {
  margin-bottom: 10px;
}

.iconWrap p {
  display: inline;
  margin-left: 6px;
}

.imgTextWrap {
  display: flex;
  align-items: center;
}

.imgTextWrap p {
  margin-left: 10px;
}

.review {
  margin-bottom: 10px;
}

.reviewSection h4 {
  margin: 20px 0;
  color: rgb(107, 107, 107);
}

.imgRounded {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.bathroomRounded {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.smallImgRounded {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.imgRounded img,
.bathroomRounded img,
.smallImgRounded img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .userInfoDiv {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .userWrap,
  .rightSection {
    width: 100%;
    margin-top: 25px;
  }
}
