.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  margin-top: 1%;
  flex: 1;
}

.formWrap {
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;

  padding: 20px;
  /* background-color: rgb(245, 245, 245);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4), 0 0 6px 0 rgba(0, 0, 0, 0.3); */
}
.formWrap2 {
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  /* background-color: rgb(245, 245, 245);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4), 0 0 6px 0 rgba(0, 0, 0, 0.3); */
  justify-content: right;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .formWrap2 {
    margin-top: 5%;
  }
}
