.toolbar {
  position: sticky;
  width: 100%;
  background-color: rgb(250, 250, 250);
  height: 56px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar_logo {
  margin-left: 1rem;
}

.toolbar_navigation_items a {
  color: black;
  text-decoration: none;
}

.spacer {
  flex: 1;
}

.toolbar_navigation_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation_items li {
  padding: 0 1rem;
}

.toolbar_logo a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
  text-decoration: underline;
}

.underline {
  padding-bottom: 2px;
  border-bottom: grey 1px solid;
}

@media (min-width: 768px) {
  .toolbar_toggleButton {
    display: none;
  }
  .toolbar_logo a {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .toolbar_navigation_items {
    display: none;
  }
}
