.toolbar {
  position: fixed;
  width: 100%;
  background-color: darksalmon;
  height: 56px;
}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar_logo {
  margin-left: 1rem;
}

.toolbar_navigation_items a {
  color: white;
  text-decoration: none;
}

.spacer {
  flex: 1;
}

.toolbar_navigation_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation_items li {
  padding: 0 0.05rem;
}

.toolbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
  color: #fa923f;
}
