.togglebutton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.togglebutton:focus {
  outline: none;
}

.togglebutton_line {
  width: 30px;
  height: 2px;
  background: rgb(75, 75, 75);
}

/* @media (min-width: 768px) {
  .togglebutton {
    height: 0px;
    width: 0px;
  }
  .togglebutton_line {
    height: 0px;
    width: 0px;
  }
} */
