.SideDrawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 300px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.SideDrawer.open {
  transform: translateX(0);
}

.SideDrawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SideDrawer li {
  margin: 0.5rem 0;
}

.SideDrawer a {
  color: darksalmon;
  text-decoration: none;
  font-size: 1.2rem;
}

.SideDrawer a:hover,
.SideDrawer a:active {
  color: rebeccapurple;
}

@media (min-width: 768px) {
  .SideDrawer {
    display: none;
  }
}
