.searchBox-wrap {
  padding: 15px;
  width: 96%;
}

.searchBox {
  display: block;
  width: 100%;
  padding: 15px;

  border: none;
  outline: none;
  background: none;

  background-color: #eee;
  border-radius: 8px;

  color: #53565a;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}
